.show-overlay .video {
    --dullify: 50%;
    -webkit-filter: brightness(var(--dullify));
    filter: brightness(var(--dullify));
}

.show-overlay .features .extras,
.video-player[data-fullscreen="true"] .features .extras {
    min-height: var(--extras-hg);
}

.show-overlay .features .extras .slider,
.video-player[data-fullscreen="true"] .features .extras .slider {
    height: var(--slider-hg);
}

.show-overlay .features .extras .slider #seeker,
.video-player[data-fullscreen="true"] .features .extras .slider #seeker {
    height: var(--seeker-hg);
}

@media screen and (min-width:600px) {
    .video-player[data-fullscreen="false"]:hover .video {
        --dullify: 50%;
        -webkit-filter: brightness(var(--dullify));
        filter: brightness(var(--dullify));
    }
    .video-player[data-fullscreen="false"]:hover .video {
        --dullify: 50%;
        -webkit-filter: brightness(var(--dullify));
        filter: brightness(var(--dullify));
    }
    .video-[data-fullscreen="false"]:hover .features .extras {
        min-height: var(--extras-hg);
    }
    .video-player[data-fullscreen="false"]:hover .features .extras .slider {
        height: var(--slider-hg);
    }
    .video-player[data-fullscreen="false"]:hover .features .extras .slider #seeker {
        height: var(--seeker-hg);
    }
}