.video-player:hover .video {
    --dullify: 50%;
    -webkit-filter: brightness(var(--dullify));
    filter: brightness(var(--dullify));
}

.video-player:hover .features .extras,
.show-overlay .features .extras {
    min-height: var(--extras-hg);
}

.video-player:hover .features .extras .slider,
.show-overlay .features .extras .slider {
    height: var(--slider-hg);
}

.video-player:hover .features .extras .slider #seeker,
.show-overlay .features .extras .slider #seeker {
    height: var(--seeker-hg);
}