.video-player .overlay-btn::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.video-player .grid {
    display: grid;
}

.video-player .icon {
    --icon-size: 35px;
    width: var(--icon-size);
    height: auto;
    margin: auto;
    cursor: pointer;
}