.video-player .details {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    text-align: right;
    color: white;
    font-weight: bold;
    padding: 0.5em;
    font-size: 1.5rem;
    opacity: 0;
    display: block;
}