/*Overlay button*/

.video-player .play-pause-btn * {
    --icon-size: 100px;
    display: none;
    --icon-font-size: 5rem;
    color: white;
    text-align: center;
    width: var(--icon-size);
    height: var(--icon-size);
    font-size: var(--icon-font-size);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    content: var(--play-icon);
    opacity: 0;
}