/*Video player css*/

.video-player {
    position: relative;
    width: 100%;
    background-color: black;
}


/*Video element css*/

.video-player .video {
    width: 100%;
}


/*Overlay button*/

.video-player .play-pause-btn::after {
    --icon-size: 100px;
    --play-icon: "\25B6";
    --pause-icon: "=";
    --icon-font-size: 5rem;
    color: white;
    text-align: center;
    width: var(--icon-size);
    height: var(--icon-size);
    font-size: var(--icon-font-size);
    padding: calc(var(--icon-size) / 2);
    user-select: none;
    cursor: pointer;
    content: var(--play-icon);
    opacity: 0;
}


/*Features css*/

.video-player .features {
    --feature-min-hg: var(--extras-hg);
    --feature-mini-min-hg: var(--extras-minmized);
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: transparent;
    min-height: var(--feature-min-hg);
    height: auto;
    overflow: hidden;
    color: white;
}

.video-player .features .extras {
    --slider-hg: 10px;
    --slider-mini-hg: 5px;
    --controls-hg: 40px;
    --extras-hg: calc(var(--slider-hg) + var(--controls-hg));
    --extras-minmized: var(--slider-mini-hg);
    width: 100%;
    height: var(--extras-minmized);
}

.video-player .features .subs {
    --subs-op: 0.8;
    width: 80%;
    margin: auto;
    opacity: var(--subs-op);
    word-break: break-all;
    word-wrap: break-word;
    background-color: rgba(124, 124, 124);
    border-radius: 5px;
    text-align: justify;
}

.video-player .features .extras * {
    position: relative;
}

.video-player .features .extras .slider {
    --seeker-zind: 3;
    --prog-zind: 2;
    --buffer-zind: 1;
    width: 100%;
    height: var(--slider-mini-hg);
    background-color: black;
}

.video-player .features .extras .slider #seeker {
    --seeker-width: 5px;
    --seeker-mini-hg: var(--slider-mini-hg);
    --seeker-hg: var(--slider-hg);
    --seeker-round-width: 10px;
    z-index: var(--seeker-zind);
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    width: var(--seeker-width);
    height: var(--seeker-mini-hg);
    background-color: orange;
}

.video-player .features .extras .slider * {
    width: 0%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.video-player .features .extras .slider .progress-bar {
    width: 100%;
}

.video-player .features .extras .slider .progress-bar #progress {
    background-color: lightgrey;
    z-index: var(--prog-zind);
}

.video-player .features .extras .slider .progress-bar #buffer {
    background-color: lightcoral;
    z-index: var(--buffer-zind);
}

.video-player .features .extras .controls {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 0.5fr;
    height: var(--controls-hg);
}

.video-player .features .extras .controls .vid-ctrl {
    --num-of-ctrl: 5;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(var(--num-of-ctrl), 1fr);
}

.video-player .features .extras .controls .vid-ctrl * {
    color: white;
}


/*Player settings*/

.not-started-playing .play-pause-btn::after {
    opacity: 1;
}

.not-playing .play-pause-btn::after {
    content: var(--pause-icon);
    transform: rotate(90deg);
}