/*Video player controls and subtitle*/

.video-player .extras *:hover {
    cursor: pointer;
}

.video-player .extras {
    --sub-hg: 40px;
    --bar-hg: 8px;
    --control-hg: 30px;
    --seeker-height: 10px;
    --seeker-wd: 20px;
    position: absolute;
    width: 100%;
    background-color: transparent;
    height: calc(var(--sub-hg) + var(--bar-hg) + var(--control-hg));
    bottom: 0;
    left: 0;
    background-color: rgb(124, 124, 124);
    overflow: hidden;
    z-index: var(--extras-index);
}

.video-player .subtitle-zone {
    height: var(--sub-hg);
    position: relative;
}

.video-player .subtitle-zone::after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
    max-height: var(--sub-hg);
    font-size: 1rem;
    z-index: -1;
}

.video-player .subtitle {
    text-align: center;
    word-break: break-word;
    word-wrap: break-word;
    width: 100%;
    text-align: center;
    height: 100%;
    user-select: none;
}

.video-player .video-slider {
    height: var(--bar-hg);
    background-color: black;
    position: relative;
}

.video-player .video-slider .seeker {
    position: absolute;
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto 0;
    width: 3px;
    height: calc(var(--bar-hg));
    background-color: yellow;
}

.video-player .video-slider .seeker:hover {
    cursor: pointer;
}

.video-player .video-slider:hover .seeker,
.video-player .video-slider .seeker:hover {
    width: var(--seeker-wd);
    height: calc(var(--bar-hg) + var(--seeker-height));
    border-radius: 50%;
    opacity: 1;
}

.video-player .video-slider .progress {
    width: 0;
    background-color: green;
    height: 100%;
}

.video-player .controls {
    max-height: var(--control-hg);
    width: 100%;
    height: 30px;
    display: grid;
    grid-template-columns: 1fr 0.15fr;
}

.video-player .controls .video-controls {
    display: flex;
    justify-content: space-around;
    width: 50%;
    height: 100%;
    align-items: center;
}

.video-player .controls .control {
    font-size: 1rem;
    color: yellow;
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
}

.video-player .controls .control .overlay-icon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    width: 100%;
    height: 50%;
}

.video-player .controls .control:hover {
    cursor: pointer;
}

.video-player .controls .active-control {
    --bord-wd: 3px;
    border-bottom: var(--bord-wd) solid yellow;
}


/*Show videos*/

.show-video-only .extras {
    height: calc(var(--sub-hg) + var(--bar-hg));
}

.show-video-only .extras .controls {
    display: none;
}

.show-video-only:hover .extras {
    height: calc(var(--sub-hg) + var(--bar-hg) + var(--control-hg));
}

.show-video-only:hover .controls {
    display: grid;
}