/*Video player*/

.video-player {
    --player-height: 450px;
    --video-index: 1;
    --extras-index: 3;
    --overlaybtn-index: 2;
    --thumbnail-index: 0;
    border: 1px solid;
    min-height: var(--player-height);
    position: relative;
}

.video-player:hover video {
    filter: brightness(40%);
}