.player-container .hide {
    display: none;
}

.player-not-started .player-overlay,
.player-not-playing .player-overlay {
    display: block;
}

.player-full-screen video {
    height: calc(100% - (var(--cc-hg) + var(--slider-hg)));
}

@media screen and (min-width:600px) {
    .player-container:hover .player-overlay {
        display: block;
        background-color: rgba(124, 124, 124, 0.5);
    }
    .player-container:hover video {
        height: calc(var(--playerContainerMinHeight) - (var(--controls-hg) + var(--slider-hg) + var(--cc-hg)));
    }
    .player-full-screen:hover video {
        height: calc(100% - (var(--cc-hg) + var(--slider-hg) + var(--controls-hg)));
    }
    /*extras related actions*/
    .player-container:hover .extras {
        height: calc(var(--cc-hg) + var(--slider-hg) + var(--controls-hg));
    }
    .player-container:hover .extras .video-slider:hover {
        border-radius: var(--slider-border-rad);
    }
    .player-container .extras .video-slider:hover .seeker {
        width: var(--seeker-size);
        height: var(--seeker-size);
        border-radius: 50%;
        top: calc(var(--seeker-size)/-4);
    }
    .player-container:hover .extras .controls {
        height: var(--controls-hg);
    }
    .player-container .extras .controls .sibling-container:hover * {
        width: 100%;
    }
}