.player-not-started .player-overlay,
.player-not-playing .player-overlay {
    display: block;
}

@media screen and (min-width:600px) {
    .player-container:hover .player-overlay {
        display: block;
        background-color: rgba(124, 124, 124, 0.5);
    }
    .player-container:hover video {
        height: calc(var(--playerContainerMinHeight) - var(--extras-hg));
    }
    /*extras related actions*/
    .player-container:hover .extras {
        height: calc(var(--extras-hg)) !important;
    }
    .player-container:hover .extras .video-slider:hover {
        border-radius: var(--slider-border-rad);
    }
    .player-container .extras .video-slider:hover .seeker {
        width: var(--seeker-size);
        height: var(--seeker-size);
        border-radius: 50%;
        top: calc(var(--seeker-size)/-4);
    }
    .player-container:hover .extras .controls {
        height: var(--controls-hg);
    }
    .player-container:hover .sub {
        bottom: var(--extras-hg);
    }
    .player-container .extras .controls .sibling-container:hover * {
        width: 100%;
    }
    .player-container .fa-2x {
        font-size: 2em;
    }
}

@media screen and (orientation:landscape) {
    .player-container video {
        height: calc(var(--playerContainerMinHeight) - var(--extras-hg)) !important;
    }
    .player-container .extras .controls {
        height: var(--controls-hg);
    }
    .player-container .extras {
        height: var(--extras-hg) !important;
    }
    .player-container .sub {
        bottom: var(--extras-hg);
    }
    .player-container .fa-2x {
        font-size: 1em;
    }
    .player-container .player-overlay {
        --icon-color: white;
        background-color: unset !important;
    }
}


/*Full screen updates*/

.player-full-screen video {
    height: calc(100% - var(--extras-hg)) !important;
}

.player-full-screen .extras .controls {
    height: var(--controls-hg);
}

.player-full-screen .extras {
    height: var(--extras-hg) !important;
}

.player-full-screen .sub {
    bottom: var(--extras-hg);
}

.player-full-screen .fa-2x {
    font-size: 1em;
}

.player-full-screen .player-overlay {
    --icon-color: white;
    background-color: unset !important;
}


/*Full screen updates ends here*/