.player-container {
    --playerContainerMinHeight: 500px;
    --thumbnailIndex: 1;
    --overlayIndex: 2;
    --extrasIndex: 3;
    --borderRadius: 15px;
    /*Overlay constant */
    --cc-hg: 10px;
    --slider-hg: 10px;
    --controls-hg: 40px;
    min-height: var(--playerContainerMinHeight);
    position: relative;
    border-radius: var(--borderRadius);
}

.player-container,
.player-container * {
    transition: all 0.25s;
}