.player-container {
    --playerContainerMinHeight: 500px;
    --thumbnailIndex: 1;
    --overlayIndex: 2;
    --extrasIndex: 3;
    --borderRadius: 15px;
    /*Overlay constant */
    --cc-hg: 0px;
    --slider-hg: 10px;
    --controls-hg: 40px;
    --extras-hg: calc(var(--cc-hg) + var(--slider-hg) + var(--controls-hg));
    --extras-mini-hg: calc(var(--cc-hg) + var(--slider-hg));
    min-height: var(--playerContainerMinHeight);
    position: relative;
    border-radius: var(--borderRadius);
    background-color: #000;
}

.player-container,
.player-container * {
    transition: all 0.25s;
}